<div class="overlay"></div>

<div class="page">
    <section class="page-content">
        <h1>Hi there.</h1>
        <p> 
            I've been fascinated with language for as long as I can remember, so it's no surprise 
            that I spent most of my early adulthood studying foreign languages, literature, and translation.
        </p>
        <p>
            These days I find myself mostly doing a different sort of translation&mdash;from design specs 
            into code&mdash;as a <a [routerLink]="['/dev']">web and mobile app developer</a> in beautiful Boise, Idaho. 
        </p>
        <p>
            Occasionally I also <a [routerLink]="['/translation']">translate literature</a>, 
            primarily fiction from Spain and Latin America.
        </p>
        
    </section>
</div>
