/* You can add global styles to this file, and also import other style files */

$fa-font-path: '../../node_modules/font-awesome/css/font-awesome';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';

// @import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'hamburgers.scss';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Julius+Sans+One|Mallanna|Orbitron:400,500,700|Ubuntu:300,400,500');
@import 'colors.scss';


body {
    margin: 0;
    overflow: hidden;
    :focus {
        outline: none;
    }
}

.bg {
    position: fixed;
    bottom: -1vh;
    left: -25vw;
    height: 11vh;
    width: 150vw;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    animation-name: carousel;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    &.tall {
        height: 34vh;
    }
}

@keyframes carousel {
    from { left: 0; }
    to { left: -25vw; }
}

.bg-image {
    display: inline-block;
    box-sizing: border-box;
    // margin: -1px;
    padding: 0;
    height: 10vh;
    width: auto;
    &.flipped {
        transform: scaleX(-1);
    }
    &.single {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;            
    }
}

.overlay {
    background: $charcoal-navy;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    &.short {
        height: 67vh;
    }
}

.page {
    position: relative;
    // margin-top: calc(67vh / 2);
    // transform: translateY(-50%);
    margin-top: 54px;
    // height: calc(67vh - 54px);
    height: calc(100vh - 54px);
    overflow-y: scroll;
    color: $almost-white;
    font-family: 'Josefin Sans', sans-serif;
    h1 {
        font-weight: normal;
        text-align: center;
        font-size: 40px;
    }
    p {
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
    }
    a {
        text-decoration: none;
        color: $cholla-green;
        border-bottom: 1px dotted $cholla-green;
        &:hover, &:focus {
            border-bottom-style: solid;
        }
    }
}

.page-content {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 600px;
}



