/* You can add global styles to this file, and also import other style files */

$fa-font-path: '../../node_modules/font-awesome/css/font-awesome';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';

// @import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'hamburgers.scss';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Julius+Sans+One|Mallanna|Orbitron:400,500,700|Ubuntu:300,400,500');
@import 'colors.scss';


body {
    margin: 0;
    overflow: hidden;
    :focus {
        outline: none;
    }
}

.page-content {
    position: relative;
    margin-top: calc(67vh / 2);
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 600px;
    height: calc(67vh - 54px);
    overflow-y: scroll;
    color: $almost-white;
    font-family: 'Josefin Sans', sans-serif;
    h1 {
        font-weight: normal;
        text-align: center;
        font-size: 40px;
    }
    p {
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
    }
    a {
        text-decoration: none;
        color: $cholla-green;
        &:hover, &:focus {
            border-bottom: 1px dotted $cholla-green;
        }
    }
}



