<header class="main-header">
    <button class="hamburger hamburger--spring" type="button"
            aria-label="Menu" aria-controls="navigation" 
            [ngClass]="{ 'is-active': showNav }" (click)="toggleNav()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</header>
<nav id="navigation" class="main-nav" [ngClass]="{ 'visible': showNav }" (click)="toggleNav()">
    <li>
        <a [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <span>Home</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/about']" [routerLinkActive]="['active']">
            <span>About</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/dev']" [routerLinkActive]="['active']">
            <span>Web Development</span>
        </a>
    </li>
    <li>
        <a [routerLink]="['/translation']" [routerLinkActive]="['active']">
            <span>Translation</span>
        </a>
    </li>
    <!-- <li>
        <a [routerLink]="['/resume']" [routerLinkActive]="['active']">
            <span>Resume</span>
        </a>
    </li> -->
</nav>

<div class="bg tall">
    <img [src]="bgImageUrl" [alt]="bgImageAltTag" class="bg-image single" />
</div>

<router-outlet></router-outlet>
