@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Julius+Sans+One|Mallanna|Orbitron:400,500,700|Ubuntu:300,400,500');
@import '../styles/colors.scss';

button.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    &:hover, &:focus {
        span.hamburger-inner,
        span.hamburger-inner:before,
        span.hamburger-inner:after {
            background-color: $cholla-green;
        }
    }
    &.is-active {
        &:hover, &:focus {
            span.hamburger-inner {
                background-color: transparent;                
            }            
        }
    }
}

nav.main-nav {
    position: fixed;
    left: 0;
    padding-left: 3vw;
    top: calc(-1 * (67vh - 54px));
    padding-top: 54px;
    z-index: 1;
    list-style: none;
    width: 100%;
    height: calc(67vh - 54px);
    background: $charcoal-navy;
    z-index: 1;
    list-style: none;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    &.visible {
        top: 0;
    }
    li {
        margin-bottom: 2vh;
    }
    li a {
        display: block;
        color: $almost-white;
        text-decoration: none;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 400;
        font-size: 5vh;
        &.active, 
        &:hover, 
        &:focus {
            color: $cholla-green;
        }
        span {
            padding: 1vh 2vh;
        }
        &:hover, &:focus {
            span {
                outline: 1px solid $cholla-green;
            }
        }
    }
}

@keyframes slide-down {
    from { top: calc(-1 * (67vh - 54px)); }
    to { top: 0; }    
}

@keyframes slide-up {
    from { top: 0; }    
    to { top: calc(-1 * (67vh - 54px)); }
}

.bg {
    position: fixed;
    bottom: -1vh;
    left: -25vw;
    // height: 40vh;
    // height: 100vh;
    min-height: 34vh;
    width: 125vw;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    animation-name: carousel;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@keyframes carousel {
    from { left: 0; }
    to { left: -25vw; }
}

.bg-image {
    display: inline-block;
    box-sizing: border-box;
    // margin: -1px;
    padding: 0;
    height: 100%;
    // &.flipped {
    //     transform: scaleX(-1);
    // }
    width: 100%;
    position: absolute;
    bottom: 0;
}

.overlay {
    background: $charcoal-navy;
    position: fixed;
    top: 0;
    height: 67vh;
    width: 100vw;
}