@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Julius+Sans+One|Mallanna|Orbitron:400,500,700|Ubuntu:300,400,500');
@import '../colors.scss';

.bg {
    position: fixed;
    bottom: -1vh;
    left: -25vw;
    // height: 40vh;
    // height: 100vh;
    min-height: 34vh;
    width: 125vw;
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    animation-name: carousel;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@keyframes carousel {
    from { left: 0; }
    to { left: -25vw; }
}

.bg-image {
    display: inline-block;
    box-sizing: border-box;
    // margin: -1px;
    padding: 0;
    height: 100%;
    // &.flipped {
    //     transform: scaleX(-1);
    // }
    width: 100%;
    position: absolute;
    bottom: 0;
}

.overlay {
    background: $charcoal-navy;
    position: fixed;
    top: 0;
    height: 67vh;
    width: 100vw;
}