@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Julius+Sans+One|Mallanna|Orbitron:400,500,700|Ubuntu:300,400,500');
@import '../../styles/colors.scss';

.page-section {
    padding: 10px 0;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    padding: 10px;
}

.bg-image {
    margin-left: -2vh;
}