@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Julius+Sans+One|Mallanna|Orbitron:400,500,700|Ubuntu:300,400,500');
@import '../../styles/colors.scss';

.dev-content {
    position: relative;
    margin-top: calc(67vh / 2);
    transform: translateY(-50%);
    color: $almost-white;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 2em;
}