@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Julius+Sans+One|Mallanna|Orbitron:400,500,700|Ubuntu:300,400,500');
@import '../../styles/colors.scss';

.publication {
    padding: 10px 0 50px 0;
    margin-bottom: 20px;
    border-bottom: 4px double $almost-white;
    &:last-of-type {
        border-bottom: none;
    }
}

h2, h3 {
    font-weight: 300;
}

.collection-name,
.book-title {
    font-style: italic;
    font-size: 24px;
}

.author-block {
    margin-bottom: 36px;
}